// variables.scss

$base-font-size: 16px;

$red: rgba(#f44336, .8%);
$blue: rgba(#3F51B5, .8%);
$green: rgba(#009688, .8%);
$purple: rgba(#9C27B0, .8%);
$orange: rgba(#FF9800, .8%);
$slate: rgba(#607D8B, .8%);

$white: #fff;
$alabaster: #f8f8f8;
$pink: #e91e63;
$indigo: #3f51b5;
$cyan: #00Bcd4;
$teal: #009688;
$black: #4A4A4A;
$lime: #CDDC39;
$yellow: #FFEB3B;
$deep-orange: #FF5722;
$brown: #795548;
$blue-grey: #607D8B;
$nevada: #636C72;
$porcelain: #dee2e6;