// colors.scss

.bg-alabaster { background-color: $alabaster; }
.bg-blue   { background-color: $blue; }
.bg-red    { background-color: $red; }
.bg-purple { background-color: $purple; }
.bg-green  { background-color: $green; }
.bg-orange { background-color: $orange; }
.bg-slate  { background-color: $slate; }
.bg-porcelain { background-color: $porcelain; }

.text-alabaster { color: $alabaster; }
.text-blue   { color: $blue; }
.text-red    { color: $red; }
.text-purple { color: $purple; }
.text-green  { color: $green; }
.text-orange { color: $orange; }
.text-slate  { color: $slate; }
.text-porcelain { color: $porcelain; }
