// header.scss

.pgHdrTitle {
  font-weight: bold;
  font-size: 14pt;
  color: #036;
  vertical-align: top;
  height: 24px;
}

#dvPgHdrWrap {
  font-size: 16px !important;
  -webkit-font-smoothing: antialiased;
  zoom: 1;
  z-index: 2999;
  box-shadow: 0 2px 10px 0 rgba(182, 182, 182, 0.75);
}

.rms-hdr {
  line-height: 22px !important;
  padding: 0 !important;
  #dvPgHdrWrap {
    p,
    td,
    select,
    option,
    textarea,
    strong,
    em,
    b,
    i {
      line-height: 22px !important;
      padding: 0 !important;
    }
    select,
    input {
      margin: 0;
      height: auto !important;
    }
    td {
      padding: 2px !important;
    }
  }
}

.ie6 .rms-hdr #dvPgHdrWrap #btnDeptChanger {
  width: 24px;
  color: #333;
}

#dvPgHdrUpper {
  ul,
  li {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
}

.ie6 #dvPgHdrWrap,
.ie7 #dvPgHdrWrap {
  position: relative;
}

.ie6 .rms-wrap {
  margin: 10px 5px 0 5px;
}

#dvPgHdrUpper {
  padding-bottom: 10px;
}

#dvMnuPersonal {
  top: 0;
  right: 10px;
  float: right;
  zoom: 1;
}

#dvPgHdrUpperInfo {
  height: 27px;
}

#dvClientBrand {
  float: left;
  height: 26px;
  zoom: 1;
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  vertical-align: middle;
  padding: 0 8px;
  -webkit-font-smoothing: antialiased;
}

.session-id-hover {
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 3px 3px 8px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 3px 3px 8px rgba(50, 50, 50, 0.75);
  box-shadow: 3px 3px 8px rgba(50, 50, 50, 0.75);
  a {
    color: #777 !important;
  }
  #dvUserSessionIndicator .usi-item {
    border-color: #777 !important;
    font-size: 1.1em;
    line-height: 30px;
  }
}

#dvUserSessionIndicator {
  font-size: 0.8em;
  white-space: normal;
  padding: 0 5px;
  a {
    text-decoration: none;
    outline: none;
    &:hover {
      text-decoration: none;
    }
  }
  .usi-item {
    padding: 0 6px;
    border-left: 1px dotted #456;
    float: left;
    white-space: nowrap;
    a {
      display: block;
      border-bottom: 1px dotted #aaa;
    }
  }
}

.ie6 #dvUserSessionIndicator .usi-item {
  a {
    border-bottom: 1px solid #aaa;
  }
  border-left: 1px solid #456;
}

#dvUserSessionIndicator {
  .usi-item {
    &:first-child {
      border: none;
    }
    &.expand-cnt {
      position: relative;
    }
  }
  .expand-cnt .mnu-expand {
    position: absolute;
    zoom: 1;
    display: none;
    top: 17px;
    right: 0;
    z-index: 8000;
    padding: 5px;
    box-shadow: -2px 4px 10px 0 rgba(182, 182, 182, 0.75);
  }
}

.ie8 #dvUserSessionIndicator .expand-cnt .mnu-expand,
.ie7 #dvUserSessionIndicator .expand-cnt .mnu-expand,
.ie6 #dvUserSessionIndicator .expand-cnt .mnu-expand {
  right: -1px;
}

#dvUserSessionIndicator .expand-cnt .mnu-expand a {
  &:hover {
    text-decoration: none;
    box-shadow: 0 0 8px 0 rgba(182, 182, 182, 0.75);
  }
  &.mnu-sublink {
    display: block;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    &.mnu-msg {
      padding-right: 20px;
      background: url(/rmsimages/messages/bubble-blue-sm.png) no-repeat 95% 10%;
    }
  }
}

.ie6 #dvUserSessionIndicator .expand-cnt .mnu-expand a.mnu-sublink {
  width: 220px;
}

#dvUserSessionIndicator {
  .expand-cnt .mnu-expand a.mnu-sublink {
    .sublink-title {
      font-weight: bold;
      font-size: 1.2em;
    }
    .mnu-sublink-note {
      font-size: 0.8em;
    }
  }
  .usi-item.msgAlert {
    position: relative;
    width: 24px;
    height: 20px;
    border: none;
    margin-left: 0;
    padding-left: 0;
    a {
      position: absolute;
      border-bottom: none;
      display: block;
      width: 22px;
      height: 0;
      padding: 1px 1px 8px 1px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
  &.exp .usi-item.msgAlert a {
    border-bottom-left-radius: 0;
  }
  #dvDCUN #hpUserNameLink {
    max-width: 150px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #dvDeptChanger {
    border: none !important;
    position: relative;
    .usi-item {
      float: none;
    }
  }
  .su {
    display: none;
    font-size: 0.75em;
  }
}

#dvDClst {
  position: relative;
  display: none;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 275px;
  padding: 0;
  margin: 0;
  text-align: right;
  select {
    font-size: 1.1em;
    color: #454545;
    width: 235px;
    border-radius: 3px;
    border-color: #999;
    option {
      border-top: 1px dotted #ccc;
      display: block;
      &.orphan {
        color: #963;
      }
      &.archived {
        color: #ca2f2a;
        background-color: #f3da88;
      }
      &.div {
        color: #369;
        border: none;
      }
      &[selected] {
        background-color: #89b1da;
        color: #369;
        font-weight: bold;
      }
    }
  }
}

.ie7 #dvDClst select,
.ie8 #dvDClst select,
.ie9 #dvDClst select {
  border-style: none;
}

.ie6 #dvDClst select,
.ie7 #dvDClst select {
  width: auto;
}

.ie8 #dvDClst {
  select {
    width: auto;
  }
  width: auto;
}

#dvDClst {
  #btnDeptChanger {
    font-size: 9pt;
    line-height: 18px;
    color: #333;
  }
  #dvArchivedCnt {
    position: relative;
    text-align: left;
  }
}

#dvDeptChanger a#hpDeptChangerLnk {
  display: block;
}

#dvDClst #hpDeptChangerClose {
  font-size: 0.95em;
  color: #ccc;
  padding-right: 8px;
}

#dvPgHdrWrap {
  #dvMnuWrap {
    clear: both;
  }
  ul#ulMenuAppItems {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 8px;
    margin-left: 1em;
    white-space: nowrap;
  }
}

.ie6 #dvPgHdrWrap ul#ulMenuAppItems {
  margin-bottom: 5px;
}

#dvPgHdrWrap ul#ulMenuAppItems {
  li {
    display: block;
    float: left;
    text-align: center;
    &.loading {
      visibility: hidden;
    }
  }
  a {
    padding: 0 0.5em;
    font-size: 14px;
    outline: none;
    text-decoration: none;
  }
}

.mnu-sel-mrk {
  position: absolute;
  z-index: 2999;
  border-width: 8px;
  border-style: solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

.ie7 .mnu-sel-mrk,
.ie6 .mnu-sel-mrk,
html .mnu-sel-mrk {
  display: none;
}

#dvPgHdrWrap {
  .nimenu-home {
    background: url('../img/icon/home_dk.gif') no-repeat center bottom;
    width: 16px;
    height: 16px;
    display: inline-block;
    outline: none;
  }
  #dvPgHdrTitle {
    clear: both;
    background-color: #fff;
    color: #606060;
    font-size: 20px;
    line-height: 24px;
    overflow: hidden;
    zoom: 1;
    padding: 2px 2px 6px 8px;
    .ModNavBar {
      display: none;
      float: right;
      width: 300px;
      text-align: right;
    }
  }
}

.ie7 #dvPgHdrWrap #dvPgHdrTitle .ModNavBar,
.ie6 #dvPgHdrWrap #dvPgHdrTitle .ModNavBar {
  position: absolute;
  top: 0;
  right: 0;
  float: none;
  width: auto;
}

#dvPgHdrWrap #dvPgHdrTitle {
  .ModNavBar a {
    color: #79b;
    text-decoration: none;
    display: block;
    padding: 0 5px 0 0;
    &:hover {
      color: #456;
    }
  }
  a {
    &.persHomePg {
      display: inline-block;
      background-image: url(/rmsimages/start_mark.png);
      background-position: 0 0;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      margin-left: -3px;
    }
    &.persHomePgSet {
      background-image: url(/rmsimages/start_mark.png);
      background-position: -16px 0;
      &:hover {
        background-image: url(/rmsimages/start_mark.png);
        background-position: 0 0;
      }
    }
  }
}

.touch-device #dvPgHdrWrap #dvPgHdrTitle a.persHomePgSet:hover {
  background-image: url(/rmsimages/start_mark.png);
  background-position: -16px 0;
}

#dvPgHdrWrap #dvPgHdrTitle a.persHomePgRemove {
  background-image: url(/rmsimages/start_mark.png);
  background-position: 0 0;
  &:hover {
    background-image: url(/rmsimages/start_mark.png);
    background-position: -16px 0;
  }
}

.touch-device #dvPgHdrWrap #dvPgHdrTitle a.persHomePgRemove:hover {
  background-image: url(/rmsimages/start_mark.png);
  background-position: 0 0;
}

#dvPgHdrWrap {
  .nimenu-app-content,
  .nimenu-mod-hdr {
    overflow: hidden;
    zoom: 1;
  }
  .nimenu-container {
    clear: both;
    position: absolute;
    background-color: inherit;
    width: 100%;
    display: none;
    text-align: left;
    overflow: hidden;
    zoom: 1;
    z-index: 2999;
    a {
      text-decoration: none;
    }
  }
}

.ie6 #dvPgHdrWrap .nimenu-container,
.ie7 #dvPgHdrWrap .nimenu-container,
html #dvPgHdrWrap .nimenu-container {
  position: static;
}

#dvPgHdrWrap {
  .nimenu-mod-hdr {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: left;
    font-size: 13px;
    line-height: 1.5em;
    padding: 0 0.5em;
    margin: 0 16px;
    vertical-align: baseline;
    text-transform: uppercase;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  }
  .nimenu-mod-com {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 8px 0;
    margin: 0 16px;
    vertical-align: middle;
    overflow: hidden;
    zoom: 1;
  }
  .nimenu-mod-hdr + .nimenu-mod-com {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .nimenu-mod-com {
    &:after {
      content: ".";
      display: block;
      line-height: 1px;
      font-size: 1px;
      clear: both;
    }
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    ul li {
      list-style-type: none;
      display: block;
      float: left;
      margin: 2px;
      padding: 0 0.5em;
      a {
        color: #444;
        display: block;
        padding: 2px;
        text-decoration: underline;
        &:hover {
          color: #03f;
        }
      }
    }
  }
  ul.nimenu-mod-sections {
    clear: both;
    margin: 0 16px;
    overflow: hidden;
    zoom: 1;
    position: relative;
    top: -4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .nimenu-app-cnt {
    position: relative;
    display: none;
    margin-top: 10px;
    z-index: 100;
    padding: 0;
    .aux {
      margin: 0 0 0 16px;
      ul {
        list-style-type: none;
        text-align: right;
        li a {
          background-color: #ddd;
          display: block;
          float: right;
          padding: 8px;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .nimenu-mod-cnt li {
    list-style-type: none;
    padding: 0 1em;
    a {
      white-space: nowrap;
    }
  }
  .nimenu-section-hdr {
    margin: 0.5em 0;
    font-size: 1.05em;
    float: left;
    ul {
      &.nimenu-mod-section {
        margin-bottom: 8px;
      }
      &.nimenu-section-cnt {
        padding: 0;
        li {
          padding: 1px 0 1px 0.5em;
          vertical-align: top;
          font-size: 0.9em;
          position: relative;
        }
      }
    }
  }
}

.touch-device #dvPgHdrWrap .nimenu-section-hdr ul.nimenu-section-cnt li {
  padding-top: 10px;
}

#dvPgHdrWrap {
  .nimenu-section-hdr ul.nimenu-section-cnt li a:hover {
    color: #03f;
    text-decoration: underline;
  }
  .nimenu-subsection-hdr {
    white-space: nowrap;
  }
  ul.nimenu-subsection {
    display: inline;
    li {
      font-size: 1em;
      position: relative;
      a {
        font-size: 0.9em;
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.3em;
        border-width: 1px;
        border-style: dotted;
        border-bottom-color: #9bd;
        border-top-color: transparent;
        border-left-color: #9bd;
        border-right-color: transparent;
        height: 0.5em;
        width: 0.25em;
      }
    }
  }
  .nimenu-section-item {
    padding: 3px 0 3px 10px;
    font-size: 14px;
    cursor: pointer;
  }
  .nimenu-section-subitem {
    padding: 3px 0 3px 10px;
    font-size: 14px;
    cursor: pointer;
    padding: 3px 0 3px 18px;
  }
  .nimenu-footer {
    position: relative;
    width: 100%;
  }
  .nimenu-rsrc-content {
    padding-left: 1em;
    float: left;
    width: 75%;
    *width: 400px;
    a:hover {
      text-decoration: underline;
    }
  }
  .nimenu-survey {
    float: right;
    width: 20px;
    text-align: right;
    width: 100px;
    padding-right: 1em;
    margin: 4px 0;
  }
}

ul#ulNiMenuResources {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 0;
  padding: 8px 0;
  overflow: hidden;
  zoom: 1;
  li {
    display: block;
    float: left;
    margin: 4px 0;
    a {
      padding: 0 8px;
      margin: 0 2px;
      font-size: 14px;
      border-radius: 5px;
      outline: none;
    }
  }
}

#dvPgHdrWrap {
  .survey-link {
    padding: 0 8px;
    margin: 0 2px;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
  }
  background-color: #fafafa;
  border-bottom: 1px solid #aaa;
  #dvClientBrand {
    color: #fff;
    height: 26px;
  }
  background-color: #144e7a;
  .nimenu-rsrc-content,
  .nimenu-container {
    background-color: #144e7a;
  }
  .nimenu-mod-cnt {
    margin-bottom: 0.5em;
  }
  #dvUserSessionIndicator {
    color: #eee;
    a {
      color: #eee;
    }
    .usi-item {
      border-color: #999;
      a {
        border-color: #ccc;
      }
    }
  }
}

@media print {
  #dvMnuWrap {
    display: none;
  }
  #dvClientBrand {
    font-size: 14px;
    height: 18px !important;
  }
  #dvMnuPersonal {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  #dvPgHdrWrap {
    ul#ulMenuAppItems li {
      min-width: 120px;
      padding: 3px 0;
      text-align: left;
      a {
        font-size: 16px !important;
      }
    }
    .nimenu-mod-com ul li {
      display: block;
      clear: both;
    }
    .nimenu-home {
      background: none !important;
      &:after {
        content: "Home";
      }
    }
  }
  .nimenu-section-hdr {
    width: 100%;
  }
  #dvMnuPersonal {
    font-size: 0.75em;
    padding: 3px 0;
  }
  #dvUserSessionIndicator .expand-cnt .mnu-expand {
    top: 12px;
  }
  #dvClientBrand {
    float: none !important;
  }
}

#dvUserSessionIndicator {
  .expand-cnt:hover {
    background-color: #fff;
    color: #333;
    a {
      color: #333 !important;
    }
  }
  .mnu-expand {
    background-color: #fff;
    a {
      &:hover {
        background-color: #eee;
      }
      &.mnu-sublink {
        border-color: #ccc;
        .sublink-title,
        .mnu-sublink-note {
          color: #777;
        }
      }
    }
  }
}

.ie8 #dvUserSessionIndicator .mnu-expand,
.ie7 #dvUserSessionIndicator .mnu-expand,
.ie6 #dvUserSessionIndicator .mnu-expand {
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

#dvPgHdrWrap {
  .nimenu-mod-hdr {
    background-color: #fff;
    color: #aaa;
  }
  .nimenu-section-hdr {
    color: #484;
  }
  ul#ulMenuAppItems {
    a {
      color: #ccc;
    }
    li a {
      &.selected,
      &:hover {
        color: #fff;
      }
    }
  }
}

.ie6 #dvPgHdrWrap ul#ulMenuAppItems li a {
  &.selected,
  &:hover {
    text-decoration: underline;
  }
}

.ie7 #dvPgHdrWrap ul#ulMenuAppItems li a {
  &.selected,
  &:hover {
    text-decoration: underline;
  }
}

* + html #dvPgHdrWrap ul#ulMenuAppItems li a {
  &.selected,
  &:hover {
    text-decoration: underline;
  }
}

#dvPgHdrWrap {
  .nimenu-mod-com ul li a {
    color: #444;
    &:hover {
      color: #03f;
    }
  }
  border-bottom: 1px solid #aaa;
  .nimenu-home {
    background-image: url('../img/icon/home_lt.gif');
  }
  .nimenu-container a {
    color: #144e7a;
    &.selected {
      color: #012;
    }
  }
}

#dvPgHdrTitle .ModNavBar a {
  color: #79b;
  &:hover {
    color: #456;
  }
}

#dvDCUN {
  &:hover {
    background-color: #fff;
    #profile-expand-options a {
      display: block !important;
    }
    #hpUserNameLink {
      color: #000;
    }
  }
  > #profile-expand-options a {
    color: #555;
    display: none;
    &.normal-white-space {
      white-space: normal;
    }
  }
}

#help-portal-container {
  div.custom-bootstrap-panel
    > div.custom-bootstrap-list-group
    > a.custom-bootstrap-list-group-item.custom-bootstrap-disabled {
    color: #777 !important;
    cursor: default;
  }
  #help-portal-number-of-tickets {
    float: none;
    margin-left: 10px !important;
  }
  #help-portal-cancel-pending-email {
    margin-left: 15px !important;
    position: relative;
    top: 8px;
  }
  .help-portal-main-title {
    font-size: 2em;
    line-height: normal;
  }
  .help-portal-sub-title {
    font-size: 1.5em;
    line-height: normal;
  }
  .hidden {
    display: none !important;
    visibility: hidden;
  }
  input {
    &[type="text"],
    &[type="email"] {
      display: block;
      width: 95%;
    }
  }
  .normal-anchor {
    color: #049cdb !important;
    &:hover {
      color: #0064cd !important;
    }
    &:active {
      text-decoration: underline;
    }
  }
  .small-padding {
    padding: 5px;
  }
  .tiny-separation-bottom {
    margin-bottom: 5px !important;
  }
  .small-separation-bottom {
    margin-bottom: 10px !important;
  }
  .separation-bottom {
    margin-bottom: 15px !important;
  }
  .tiny-separation-top {
    margin-top: 5px !important;
  }
  .small-separation-top {
    margin-top: 10px !important;
  }
  .separation-top {
    margin-top: 15px !important;
  }
  .tiny-separation-left {
    margin-left: 5px !important;
  }
  .small-separation-left {
    margin-left: 10px !important;
  }
  .separation-left {
    margin-left: 15px !important;
  }
  .tiny-separation-right {
    margin-right: 5px !important;
  }
  .small-separation-right {
    margin-right: 10px !important;
  }
  .separation-right {
    margin-right: 15px !important;
  }
}
