// color-picker.scss

// Color Swatches
.color-swatches {
    
    // Color Swatches: Swatch Structre
    .swatch {
        position: relative;

        margin: 0 8px 8px 0;

        float: left;

        cursor: pointer;
        text-shadow: 0 0 1px #000;

        // Color Swatches: Active Swatch
        &.is-active {

            // Color Swatches: Active Swatch: Glyphicon
            .glyphicons { display: block; }

        }

        // Color Swatches: Count
        .count {
            position: absolute;
            top: -5px;
            right: -5px;
            height: 14px;
            padding: 2px 4px 0;
            display: block;

            color: #fff;
            background-color: #606060;
            font-size: 10px;
            font-weight: normal;
            line-height: 1em;
            text-align: center;
            border-radius: 7px;
        }

        // Color Swatches: Glyphicon
        .glyphicons {
            position: absolute;
            top: 7px;
            left: 8px;

            display: none;
        }

        // Color Swatches: Radio
        [type="radio"] {
            position: absolute;
            left: -999em;
        }
    }

}

// Color Swatches: Swatch Structre
.swatch {
    width: 32px;
    height: 32px;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;

    // Color Swatches: Swatch Structre
    &.swatch--xs {
        width: 10px;
        height: 10px;
        border-radius: 2px;
    }

    &.swatch--sm {
        width: 16px;
        height: 16px;
        border-radius: 8px;
    }

    // Color Swatches: Swatch Style
    &.swatch--white       { color: $black; background-color: $white; border-color: darken($white, 20%); }
    &.swatch--red         { color: $white; background-color: $red; border-color: darken($red, 20%); }
    &.swatch--pink        { color: $white; background-color: $pink; border-color: darken($pink, 20%); }
    &.swatch--purple      { color: $white; background-color: $purple; border-color: darken($purple, 20%); }
    &.swatch--indigo      { color: $white; background-color: $indigo; border-color: darken($indigo, 20%); }
    &.swatch--blue        { color: $white; background-color: $blue; border-color: darken($blue, 20%); }
    &.swatch--cyan        { color: $white; background-color: $cyan; border-color: darken($cyan, 20%); }
    &.swatch--teal        { color: $white; background-color: $teal; border-color: darken($teal, 20%); }

    &.swatch--black       { color: $white; background-color: $black; border-color: darken($black, 20%); }
    &.swatch--green       { color: $white; background-color: $green; border-color: darken($green, 20%); }
    &.swatch--lime        { color: $white; background-color: $lime; border-color: darken($lime, 20%); }
    &.swatch--yellow      { color: $white; background-color: $yellow; border-color: darken($yellow, 20%); }
    &.swatch--orange      { color: $white; background-color: $orange; border-color: darken($orange, 20%); }
    &.swatch--deep-orange { color: $white; background-color: $deep-orange; border-color: darken($deep-orange, 20%); }
    &.swatch--brown       { color: $white; background-color: $brown; border-color: darken($brown, 20%); }
    &.swatch--blue-grey   { color: $white; background-color: $blue-grey; border-color: darken($blue-grey, 20%); }
}