// dashboard-empty.scss

// Empty State
.empty-state {
    width: 100%;

    text-align: center;

    // Empty State: Glyphicons
    .glyphicons { 
        margin-top: 2rem;
        margin-bottom: 1rem;

        font-size: 3em;
        color: #F0AD4E; 
    }
}