// multi-select-list.scss

// Multi Select
.multi-select {
    width: 540px;
    margin-bottom: 20px;

    // Multi Select: Search
    .multi-select-search {
        padding: 7px;
        border: 1px solid #e7e7e7;
        display: block;

        background-color: #f8f8f8;

        // Multi Select: Search: Input Group Addon
        .input-group-addon {
            background-color: #fff;
        }

        // Multi Select: Search: Input Checkbox
        input[type=text] {
            width: 100%;
        }

        @include media-breakpoint-up(md) {
            input[type=text] {
                width: 220px;
            }
        }
    }

    // Multi Select: List Container
    .list-container {
        width: 100%;
        border-right: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        border-left: 1px solid #e7e7e7;

        background-color: #f2f2f2;
    }

    @include media-breakpoint-up(md) {
        .list-container {
            width: 50%;
            float: left;
        }
    }

    // Multi Select: List Group
    .list-group {
        position: relative;

        height: 230px;
        max-height: 230px;
        width: 100%;
        margin-bottom: 0;

        overflow-y: scroll;

        // Multi Select: Selected List Item
        &.is-selected {
            
            // Multi Select: Selected List Item: Select Item
            .multi-select-item {
                color: #fff;
                background-color: #337AB7;
            }

        }
    }

    // Multi Select: List Item
    .multi-select-item {
        margin: 0;
        padding: 12px 12px;
        border-bottom: 1px solid #e7e7e7;
        display: block;

        background-color: #fff;
        font-size: (14px / $base-font-size) * 1em;
        font-weight: normal;
        line-height: 1em;
        cursor: pointer;

        // Multi Select: Hover List Item
        &:hover {
            background-color: #f5f5f5;
        }

        // Multi Select: Checkbox
        input[type=checkbox] {
            margin-right: 4px;
        }
    }

}
