// Ni Custom Bootstrap Type

.bi {
  font-weight: bold;
  font-style: italic;
}
.b { font-weight: bold; }
.i { font-style: italic; }

.font-size-xs { font-size: 8px; }
.font-size-sm { font-size: 12px; }
.font-size-md { font-size: 16px; }
.font-size-lg { font-size: 24px; }
.font-size-xl { font-size: 32px; }

.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6 {
  color: #68b;
  font-weight: bold;
}
.title-1 { font-size: 28px; }
.title-2 { font-size: 24px; }
.title-3 { font-size: 20px; }
.title-4 { font-size: 18px; }
.title-5 { font-size: 16px; }
.title-6 { font-size: 14px; }
