// Form Group
.form-group {

    // Form Group: Label
    .form-control-label {
        position: relative;

        width: 100%;

        font-size: 1.1428571429em;
        font-weight: normal;

        // Form Group: Label: Not Required
        .text--not-required {
            position: absolute;
            top: 4px;
            right: 0;

            font-size: .8571428571em;
            font-weight: normal;
            line-height: 1em;
            color: #979797;
        }
    }

}