// Ni Custom Bootstrap List Group

.custom-bootstrap-list-group {
  margin-bottom: 20px;
  padding-left: 0;
}
.custom-bootstrap-list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.custom-bootstrap-list-group-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.custom-bootstrap-list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
a.custom-bootstrap-list-group-item,
button.custom-bootstrap-list-group-item {
  color: #555;
}
a.custom-bootstrap-list-group-item .custom-bootstrap-list-group-item-heading,
button.custom-bootstrap-list-group-item
  .custom-bootstrap-list-group-item-heading {
  color: #333;
}
a.custom-bootstrap-list-group-item:hover,
button.custom-bootstrap-list-group-item:hover,
a.custom-bootstrap-list-group-item:focus,
button.custom-bootstrap-list-group-item:focus {
  text-decoration: none;
  color: #555;
  background-color: #f5f5f5;
}
button.custom-bootstrap-list-group-item {
  width: 100%;
  text-align: left;
}
.custom-bootstrap-list-group-item.custom-bootstrap-disabled,
.custom-bootstrap-list-group-item.custom-bootstrap-disabled:hover,
.custom-bootstrap-list-group-item.custom-bootstrap-disabled:focus {
  background-color: #eee;
  color: #777;
  cursor: not-allowed;
}
.custom-bootstrap-list-group-item.custom-bootstrap-disabled
  .custom-bootstrap-list-group-item-heading,
.custom-bootstrap-list-group-item.custom-bootstrap-disabled:hover
  .custom-bootstrap-list-group-item-heading,
.custom-bootstrap-list-group-item.custom-bootstrap-disabled:focus
  .custom-bootstrap-list-group-item-heading {
  color: inherit;
}
.custom-bootstrap-list-group-item.custom-bootstrap-disabled
  .custom-bootstrap-list-group-item-text,
.custom-bootstrap-list-group-item.custom-bootstrap-disabled:hover
  .custom-bootstrap-list-group-item-text,
.custom-bootstrap-list-group-item.custom-bootstrap-disabled:focus
  .custom-bootstrap-list-group-item-text {
  color: #777;
}
.custom-bootstrap-list-group-item.custom-bootstrap-active,
.custom-bootstrap-list-group-item.custom-bootstrap-active:hover,
.custom-bootstrap-list-group-item.custom-bootstrap-active:focus {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.custom-bootstrap-list-group-item.custom-bootstrap-active
  .custom-bootstrap-list-group-item-heading,
.custom-bootstrap-list-group-item.custom-bootstrap-active:hover
  .custom-bootstrap-list-group-item-heading,
.custom-bootstrap-list-group-item.custom-bootstrap-active:focus
  .custom-bootstrap-list-group-item-heading,
.custom-bootstrap-list-group-item.custom-bootstrap-active
  .custom-bootstrap-list-group-item-heading
  > small,
.custom-bootstrap-list-group-item.custom-bootstrap-active:hover
  .custom-bootstrap-list-group-item-heading
  > small,
.custom-bootstrap-list-group-item.custom-bootstrap-active:focus
  .custom-bootstrap-list-group-item-heading
  > small,
.custom-bootstrap-list-group-item.custom-bootstrap-active
  .custom-bootstrap-list-group-item-heading
  > .custom-bootstrap-small,
.custom-bootstrap-list-group-item.custom-bootstrap-active:hover
  .custom-bootstrap-list-group-item-heading
  > .custom-bootstrap-small,
.custom-bootstrap-list-group-item.custom-bootstrap-active:focus
  .custom-bootstrap-list-group-item-heading
  > .custom-bootstrap-small {
  color: inherit;
}
.custom-bootstrap-list-group-item.custom-bootstrap-active
  .custom-bootstrap-list-group-item-text,
.custom-bootstrap-list-group-item.custom-bootstrap-active:hover
  .custom-bootstrap-list-group-item-text,
.custom-bootstrap-list-group-item.custom-bootstrap-active:focus
  .custom-bootstrap-list-group-item-text {
  color: #c7ddef;
}
.custom-bootstrap-list-group-item-success {
  color: #3c763d;
  background-color: #dff0d8;
}
a.custom-bootstrap-list-group-item-success,
button.custom-bootstrap-list-group-item-success {
  color: #3c763d;
}
a.custom-bootstrap-list-group-item-success
  .custom-bootstrap-list-group-item-heading,
button.custom-bootstrap-list-group-item-success
  .custom-bootstrap-list-group-item-heading {
  color: inherit;
}
a.custom-bootstrap-list-group-item-success:hover,
button.custom-bootstrap-list-group-item-success:hover,
a.custom-bootstrap-list-group-item-success:focus,
button.custom-bootstrap-list-group-item-success:focus {
  color: #3c763d;
  background-color: #d0e9c6;
}
a.custom-bootstrap-list-group-item-success.custom-bootstrap-active,
button.custom-bootstrap-list-group-item-success.custom-bootstrap-active,
a.custom-bootstrap-list-group-item-success.custom-bootstrap-active:hover,
button.custom-bootstrap-list-group-item-success.custom-bootstrap-active:hover,
a.custom-bootstrap-list-group-item-success.custom-bootstrap-active:focus,
button.custom-bootstrap-list-group-item-success.custom-bootstrap-active:focus {
  color: #fff;
  background-color: #3c763d;
  border-color: #3c763d;
}
.custom-bootstrap-list-group-item-info {
  color: #31708f;
  background-color: #d9edf7;
}
a.custom-bootstrap-list-group-item-info,
button.custom-bootstrap-list-group-item-info {
  color: #31708f;
}
a.custom-bootstrap-list-group-item-info
  .custom-bootstrap-list-group-item-heading,
button.custom-bootstrap-list-group-item-info
  .custom-bootstrap-list-group-item-heading {
  color: inherit;
}
a.custom-bootstrap-list-group-item-info:hover,
button.custom-bootstrap-list-group-item-info:hover,
a.custom-bootstrap-list-group-item-info:focus,
button.custom-bootstrap-list-group-item-info:focus {
  color: #31708f;
  background-color: #c4e3f3;
}
a.custom-bootstrap-list-group-item-info.custom-bootstrap-active,
button.custom-bootstrap-list-group-item-info.custom-bootstrap-active,
a.custom-bootstrap-list-group-item-info.custom-bootstrap-active:hover,
button.custom-bootstrap-list-group-item-info.custom-bootstrap-active:hover,
a.custom-bootstrap-list-group-item-info.custom-bootstrap-active:focus,
button.custom-bootstrap-list-group-item-info.custom-bootstrap-active:focus {
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}
.custom-bootstrap-list-group-item-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}
a.custom-bootstrap-list-group-item-warning,
button.custom-bootstrap-list-group-item-warning {
  color: #8a6d3b;
}
a.custom-bootstrap-list-group-item-warning
  .custom-bootstrap-list-group-item-heading,
button.custom-bootstrap-list-group-item-warning
  .custom-bootstrap-list-group-item-heading {
  color: inherit;
}
a.custom-bootstrap-list-group-item-warning:hover,
button.custom-bootstrap-list-group-item-warning:hover,
a.custom-bootstrap-list-group-item-warning:focus,
button.custom-bootstrap-list-group-item-warning:focus {
  color: #8a6d3b;
  background-color: #faf2cc;
}
a.custom-bootstrap-list-group-item-warning.custom-bootstrap-active,
button.custom-bootstrap-list-group-item-warning.custom-bootstrap-active,
a.custom-bootstrap-list-group-item-warning.custom-bootstrap-active:hover,
button.custom-bootstrap-list-group-item-warning.custom-bootstrap-active:hover,
a.custom-bootstrap-list-group-item-warning.custom-bootstrap-active:focus,
button.custom-bootstrap-list-group-item-warning.custom-bootstrap-active:focus {
  color: #fff;
  background-color: #8a6d3b;
  border-color: #8a6d3b;
}
.custom-bootstrap-list-group-item-danger {
  color: #a94442;
  background-color: #f2dede;
}
a.custom-bootstrap-list-group-item-danger,
button.custom-bootstrap-list-group-item-danger {
  color: #a94442;
}
a.custom-bootstrap-list-group-item-danger
  .custom-bootstrap-list-group-item-heading,
button.custom-bootstrap-list-group-item-danger
  .custom-bootstrap-list-group-item-heading {
  color: inherit;
}
a.custom-bootstrap-list-group-item-danger:hover,
button.custom-bootstrap-list-group-item-danger:hover,
a.custom-bootstrap-list-group-item-danger:focus,
button.custom-bootstrap-list-group-item-danger:focus {
  color: #a94442;
  background-color: #ebcccc;
}
a.custom-bootstrap-list-group-item-danger.custom-bootstrap-active,
button.custom-bootstrap-list-group-item-danger.custom-bootstrap-active,
a.custom-bootstrap-list-group-item-danger.custom-bootstrap-active:hover,
button.custom-bootstrap-list-group-item-danger.custom-bootstrap-active:hover,
a.custom-bootstrap-list-group-item-danger.custom-bootstrap-active:focus,
button.custom-bootstrap-list-group-item-danger.custom-bootstrap-active:focus {
  color: #fff;
  background-color: #a94442;
  border-color: #a94442;
}
.custom-bootstrap-list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.custom-bootstrap-list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}
