// Ni Custom Bootstrap Utilities Clearfix

.custom-bootstrap-clearfix:before,
.custom-bootstrap-clearfix:after {
  content: " ";
  display: table;
}
.custom-bootstrap-clearfix:after {
  clear: both;
}