// table.scss

// Table
.table {
    
        // Table: Table Heading
        th {
            text-transform: uppercase;
        }
    
        // Table: Table Data Actions
        .td-actions {
            text-align: right;
            color: rgba(0, 0, 0, .3);
    
            // Table: Table Data Actions: Glyphicons
            .glyphicons {
                margin-right: .5em;
    
                // Table: Table Data Actions: Last Glyphicon
                &:last-of-type { margin-right: 0; }
            }
        }
    
    }