// Ni Custom Bootstrap Panel

.custom-bootstrap-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }
  .custom-bootstrap-panel-body {
    padding: 15px;
  }
  .custom-bootstrap-panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  .custom-bootstrap-panel-heading
    > .custom-bootstrap-dropdown
    .custom-bootstrap-dropdown-toggle {
    color: inherit;
  }
  .custom-bootstrap-panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
  }
  .custom-bootstrap-panel-title > a,
  .custom-bootstrap-panel-title > small,
  .custom-bootstrap-panel-title > .custom-bootstrap-small,
  .custom-bootstrap-panel-title > small > a,
  .custom-bootstrap-panel-title > .custom-bootstrap-small > a {
    color: inherit;
  }
  .custom-bootstrap-panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .custom-bootstrap-panel > .custom-bootstrap-list-group,
  .custom-bootstrap-panel
    > .custom-bootstrap-panel-collapse
    > .custom-bootstrap-list-group {
    margin-bottom: 0;
  }
  .custom-bootstrap-panel
    > .custom-bootstrap-list-group
    .custom-bootstrap-list-group-item,
  .custom-bootstrap-panel
    > .custom-bootstrap-panel-collapse
    > .custom-bootstrap-list-group
    .custom-bootstrap-list-group-item {
    border-width: 1px 0;
    border-radius: 0;
  }
  .custom-bootstrap-panel
    > .custom-bootstrap-list-group:first-child
    .custom-bootstrap-list-group-item:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-panel-collapse
    > .custom-bootstrap-list-group:first-child
    .custom-bootstrap-list-group-item:first-child {
    border-top: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  .custom-bootstrap-panel
    > .custom-bootstrap-list-group:last-child
    .custom-bootstrap-list-group-item:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-panel-collapse
    > .custom-bootstrap-list-group:last-child
    .custom-bootstrap-list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .custom-bootstrap-panel
    > .custom-bootstrap-panel-heading
    + .custom-bootstrap-panel-collapse
    > .custom-bootstrap-list-group
    .custom-bootstrap-list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .custom-bootstrap-panel-heading
    + .custom-bootstrap-list-group
    .custom-bootstrap-list-group-item:first-child {
    border-top-width: 0;
  }
  .custom-bootstrap-list-group + .custom-bootstrap-panel-footer {
    border-top-width: 0;
  }
  .custom-bootstrap-panel > .custom-bootstrap-table,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table,
  .custom-bootstrap-panel
    > .custom-bootstrap-panel-collapse
    > .custom-bootstrap-table {
    margin-bottom: 0;
  }
  .custom-bootstrap-panel > .custom-bootstrap-table caption,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table
    caption,
  .custom-bootstrap-panel
    > .custom-bootstrap-panel-collapse
    > .custom-bootstrap-table
    caption {
    padding-left: 15px;
    padding-right: 15px;
  }
  .custom-bootstrap-panel > .custom-bootstrap-table:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:first-child
    > .custom-bootstrap-table:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  .custom-bootstrap-panel
    > .custom-bootstrap-table:first-child
    > thead:first-child
    > tr:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:first-child
    > .custom-bootstrap-table:first-child
    > thead:first-child
    > tr:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table:first-child
    > tbody:first-child
    > tr:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:first-child
    > .custom-bootstrap-table:first-child
    > tbody:first-child
    > tr:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .custom-bootstrap-panel
    > .custom-bootstrap-table:first-child
    > thead:first-child
    > tr:first-child
    td:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:first-child
    > .custom-bootstrap-table:first-child
    > thead:first-child
    > tr:first-child
    td:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table:first-child
    > tbody:first-child
    > tr:first-child
    td:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:first-child
    > .custom-bootstrap-table:first-child
    > tbody:first-child
    > tr:first-child
    td:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table:first-child
    > thead:first-child
    > tr:first-child
    th:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:first-child
    > .custom-bootstrap-table:first-child
    > thead:first-child
    > tr:first-child
    th:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table:first-child
    > tbody:first-child
    > tr:first-child
    th:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:first-child
    > .custom-bootstrap-table:first-child
    > tbody:first-child
    > tr:first-child
    th:first-child {
    border-top-left-radius: 3px;
  }
  .custom-bootstrap-panel
    > .custom-bootstrap-table:first-child
    > thead:first-child
    > tr:first-child
    td:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:first-child
    > .custom-bootstrap-table:first-child
    > thead:first-child
    > tr:first-child
    td:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table:first-child
    > tbody:first-child
    > tr:first-child
    td:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:first-child
    > .custom-bootstrap-table:first-child
    > tbody:first-child
    > tr:first-child
    td:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table:first-child
    > thead:first-child
    > tr:first-child
    th:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:first-child
    > .custom-bootstrap-table:first-child
    > thead:first-child
    > tr:first-child
    th:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table:first-child
    > tbody:first-child
    > tr:first-child
    th:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:first-child
    > .custom-bootstrap-table:first-child
    > tbody:first-child
    > tr:first-child
    th:last-child {
    border-top-right-radius: 3px;
  }
  .custom-bootstrap-panel > .custom-bootstrap-table:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:last-child
    > .custom-bootstrap-table:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .custom-bootstrap-panel
    > .custom-bootstrap-table:last-child
    > tbody:last-child
    > tr:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:last-child
    > .custom-bootstrap-table:last-child
    > tbody:last-child
    > tr:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table:last-child
    > tfoot:last-child
    > tr:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:last-child
    > .custom-bootstrap-table:last-child
    > tfoot:last-child
    > tr:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .custom-bootstrap-panel
    > .custom-bootstrap-table:last-child
    > tbody:last-child
    > tr:last-child
    td:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:last-child
    > .custom-bootstrap-table:last-child
    > tbody:last-child
    > tr:last-child
    td:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table:last-child
    > tfoot:last-child
    > tr:last-child
    td:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:last-child
    > .custom-bootstrap-table:last-child
    > tfoot:last-child
    > tr:last-child
    td:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table:last-child
    > tbody:last-child
    > tr:last-child
    th:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:last-child
    > .custom-bootstrap-table:last-child
    > tbody:last-child
    > tr:last-child
    th:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table:last-child
    > tfoot:last-child
    > tr:last-child
    th:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:last-child
    > .custom-bootstrap-table:last-child
    > tfoot:last-child
    > tr:last-child
    th:first-child {
    border-bottom-left-radius: 3px;
  }
  .custom-bootstrap-panel
    > .custom-bootstrap-table:last-child
    > tbody:last-child
    > tr:last-child
    td:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:last-child
    > .custom-bootstrap-table:last-child
    > tbody:last-child
    > tr:last-child
    td:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table:last-child
    > tfoot:last-child
    > tr:last-child
    td:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:last-child
    > .custom-bootstrap-table:last-child
    > tfoot:last-child
    > tr:last-child
    td:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table:last-child
    > tbody:last-child
    > tr:last-child
    th:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:last-child
    > .custom-bootstrap-table:last-child
    > tbody:last-child
    > tr:last-child
    th:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table:last-child
    > tfoot:last-child
    > tr:last-child
    th:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive:last-child
    > .custom-bootstrap-table:last-child
    > tfoot:last-child
    > tr:last-child
    th:last-child {
    border-bottom-right-radius: 3px;
  }
  .custom-bootstrap-panel
    > .custom-bootstrap-panel-body
    + .custom-bootstrap-table,
  .custom-bootstrap-panel
    > .custom-bootstrap-panel-body
    + .custom-bootstrap-table-responsive,
  .custom-bootstrap-panel
    > .custom-bootstrap-table
    + .custom-bootstrap-panel-body,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    + .custom-bootstrap-panel-body {
    border-top: 1px solid #ddd;
  }
  .custom-bootstrap-panel
    > .custom-bootstrap-table
    > tbody:first-child
    > tr:first-child
    th,
  .custom-bootstrap-panel
    > .custom-bootstrap-table
    > tbody:first-child
    > tr:first-child
    td {
    border-top: 0;
  }
  .custom-bootstrap-panel > .custom-bootstrap-table-bordered,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered {
    border: 0;
  }
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > thead
    > tr
    > th:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > thead
    > tr
    > th:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > tbody
    > tr
    > th:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > tbody
    > tr
    > th:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > tfoot
    > tr
    > th:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > tfoot
    > tr
    > th:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > thead
    > tr
    > td:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > thead
    > tr
    > td:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > tbody
    > tr
    > td:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > tbody
    > tr
    > td:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > tfoot
    > tr
    > td:first-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > tfoot
    > tr
    > td:first-child {
    border-left: 0;
  }
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > thead
    > tr
    > th:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > thead
    > tr
    > th:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > tbody
    > tr
    > th:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > tbody
    > tr
    > th:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > tfoot
    > tr
    > th:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > tfoot
    > tr
    > th:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > thead
    > tr
    > td:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > thead
    > tr
    > td:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > tbody
    > tr
    > td:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > tbody
    > tr
    > td:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > tfoot
    > tr
    > td:last-child,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > tfoot
    > tr
    > td:last-child {
    border-right: 0;
  }
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > thead
    > tr:first-child
    > td,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > thead
    > tr:first-child
    > td,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > tbody
    > tr:first-child
    > td,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > tbody
    > tr:first-child
    > td,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > thead
    > tr:first-child
    > th,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > thead
    > tr:first-child
    > th,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > tbody
    > tr:first-child
    > th,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > tbody
    > tr:first-child
    > th {
    border-bottom: 0;
  }
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > tbody
    > tr:last-child
    > td,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > tbody
    > tr:last-child
    > td,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > tfoot
    > tr:last-child
    > td,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > tfoot
    > tr:last-child
    > td,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > tbody
    > tr:last-child
    > th,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > tbody
    > tr:last-child
    > th,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-bordered
    > tfoot
    > tr:last-child
    > th,
  .custom-bootstrap-panel
    > .custom-bootstrap-table-responsive
    > .custom-bootstrap-table-bordered
    > tfoot
    > tr:last-child
    > th {
    border-bottom: 0;
  }
  .custom-bootstrap-panel > .custom-bootstrap-table-responsive {
    border: 0;
    margin-bottom: 0;
  }
  .custom-bootstrap-panel-group {
    margin-bottom: 20px;
  }
  .custom-bootstrap-panel-group .custom-bootstrap-panel {
    margin-bottom: 0;
    border-radius: 4px;
  }
  .custom-bootstrap-panel-group
    .custom-bootstrap-panel
    + .custom-bootstrap-panel {
    margin-top: 5px;
  }
  .custom-bootstrap-panel-group .custom-bootstrap-panel-heading {
    border-bottom: 0;
  }
  .custom-bootstrap-panel-group
    .custom-bootstrap-panel-heading
    + .custom-bootstrap-panel-collapse
    > .custom-bootstrap-panel-body,
  .custom-bootstrap-panel-group
    .custom-bootstrap-panel-heading
    + .custom-bootstrap-panel-collapse
    > .custom-bootstrap-list-group {
    border-top: 1px solid #ddd;
  }
  .custom-bootstrap-panel-group .custom-bootstrap-panel-footer {
    border-top: 0;
  }
  .custom-bootstrap-panel-group
    .custom-bootstrap-panel-footer
    + .custom-bootstrap-panel-collapse
    .custom-bootstrap-panel-body {
    border-bottom: 1px solid #ddd;
  }
  .custom-bootstrap-panel-default {
    border-color: #ddd;
  }
  .custom-bootstrap-panel-default > .custom-bootstrap-panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
  }
  .custom-bootstrap-panel-default
    > .custom-bootstrap-panel-heading
    + .custom-bootstrap-panel-collapse
    > .custom-bootstrap-panel-body {
    border-top-color: #ddd;
  }
  .custom-bootstrap-panel-default
    > .custom-bootstrap-panel-heading
    .custom-bootstrap-badge {
    color: #f5f5f5;
    background-color: #333;
  }
  .custom-bootstrap-panel-default
    > .custom-bootstrap-panel-footer
    + .custom-bootstrap-panel-collapse
    > .custom-bootstrap-panel-body {
    border-bottom-color: #ddd;
  }
  .custom-bootstrap-panel-primary {
    border-color: #337ab7;
  }
  .custom-bootstrap-panel-primary > .custom-bootstrap-panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
  }
  .custom-bootstrap-panel-primary
    > .custom-bootstrap-panel-heading
    + .custom-bootstrap-panel-collapse
    > .custom-bootstrap-panel-body {
    border-top-color: #337ab7;
  }
  .custom-bootstrap-panel-primary
    > .custom-bootstrap-panel-heading
    .custom-bootstrap-badge {
    color: #337ab7;
    background-color: #fff;
  }
  .custom-bootstrap-panel-primary
    > .custom-bootstrap-panel-footer
    + .custom-bootstrap-panel-collapse
    > .custom-bootstrap-panel-body {
    border-bottom-color: #337ab7;
  }
  .custom-bootstrap-panel-success {
    border-color: #d6e9c6;
  }
  .custom-bootstrap-panel-success > .custom-bootstrap-panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  .custom-bootstrap-panel-success
    > .custom-bootstrap-panel-heading
    + .custom-bootstrap-panel-collapse
    > .custom-bootstrap-panel-body {
    border-top-color: #d6e9c6;
  }
  .custom-bootstrap-panel-success
    > .custom-bootstrap-panel-heading
    .custom-bootstrap-badge {
    color: #dff0d8;
    background-color: #3c763d;
  }
  .custom-bootstrap-panel-success
    > .custom-bootstrap-panel-footer
    + .custom-bootstrap-panel-collapse
    > .custom-bootstrap-panel-body {
    border-bottom-color: #d6e9c6;
  }
  .custom-bootstrap-panel-info {
    border-color: #bce8f1;
  }
  .custom-bootstrap-panel-info > .custom-bootstrap-panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  .custom-bootstrap-panel-info
    > .custom-bootstrap-panel-heading
    + .custom-bootstrap-panel-collapse
    > .custom-bootstrap-panel-body {
    border-top-color: #bce8f1;
  }
  .custom-bootstrap-panel-info
    > .custom-bootstrap-panel-heading
    .custom-bootstrap-badge {
    color: #d9edf7;
    background-color: #31708f;
  }
  .custom-bootstrap-panel-info
    > .custom-bootstrap-panel-footer
    + .custom-bootstrap-panel-collapse
    > .custom-bootstrap-panel-body {
    border-bottom-color: #bce8f1;
  }
  .custom-bootstrap-panel-warning {
    border-color: #faebcc;
  }
  .custom-bootstrap-panel-warning > .custom-bootstrap-panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  .custom-bootstrap-panel-warning
    > .custom-bootstrap-panel-heading
    + .custom-bootstrap-panel-collapse
    > .custom-bootstrap-panel-body {
    border-top-color: #faebcc;
  }
  .custom-bootstrap-panel-warning
    > .custom-bootstrap-panel-heading
    .custom-bootstrap-badge {
    color: #fcf8e3;
    background-color: #8a6d3b;
  }
  .custom-bootstrap-panel-warning
    > .custom-bootstrap-panel-footer
    + .custom-bootstrap-panel-collapse
    > .custom-bootstrap-panel-body {
    border-bottom-color: #faebcc;
  }
  .custom-bootstrap-panel-danger {
    border-color: #ebccd1;
  }
  .custom-bootstrap-panel-danger > .custom-bootstrap-panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  .custom-bootstrap-panel-danger
    > .custom-bootstrap-panel-heading
    + .custom-bootstrap-panel-collapse
    > .custom-bootstrap-panel-body {
    border-top-color: #ebccd1;
  }
  .custom-bootstrap-panel-danger
    > .custom-bootstrap-panel-heading
    .custom-bootstrap-badge {
    color: #f2dede;
    background-color: #a94442;
  }
  .custom-bootstrap-panel-danger
    > .custom-bootstrap-panel-footer
    + .custom-bootstrap-panel-collapse
    > .custom-bootstrap-panel-body {
    border-bottom-color: #ebccd1;
  }
  .custom-bootstrap-panel-body:before,
  .custom-bootstrap-panel-body:after {
    content: " ";
    display: table;
  }
  .custom-bootstrap-panel-body:after {
    clear: both;
  }